<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZXPrivacyViewController</key>
	<string>隐私策略</string>
	<key>ZXRegisterNickNameViewController</key>
	<string>注册昵称</string>
	<key>ZXRegisterPasswordViewController</key>
	<string>填写密码</string>
	<key>ZXRegisterViewController</key>
	<string>注册</string>
	<key>ZXDiscoveryViewController</key>
	<string>发现</string>
	<key>ZXLoginViewController</key>
	<string>登录</string>
	<key>ZXAddBabyViewController</key>
	<string>添加宝宝</string>
	<key>ZXAddContactsViewController</key>
	<string>添加联系人</string>
	<key>ZXContactsContentViewController</key>
	<string>联系人子页</string>
	<key>ZXContactsViewController</key>
	<string>好友</string>
	<key>ZXAboutViewController</key>
	<string>关于</string>
	<key>ZXFeaturesViewController</key>
	<string>功能介绍</string>
	<key>ZXChangePasswordViewController</key>
	<string>修改密码</string>
	<key>ZXHelpDetailViewController</key>
	<string>帮助详情</string>
	<key>ZXHelpViewController</key>
	<string>帮助</string>
	<key>ZXMineViewController</key>
	<string>我</string>
	<key>ZXMyDynamicViewController</key>
	<string>我的动态</string>
	<key>ZXMyInfoViewController</key>
	<string>我的资料</string>
	<key>ZXNotificationSettingViewController</key>
	<string>消息设置</string>
	<key>ZXUserDynamicViewController</key>
	<string>他人动态</string>
	<key>ZXClassDynamicViewController</key>
	<string>班级动态</string>
	<key>ZXCheckParentViewController</key>
	<string>家长审核</string>
	<key>ZXParentListViewController</key>
	<string>家长列表</string>
	<key>ZXClassDetailViewController</key>
	<string>班级详情</string>
	<key>ZXClassListViewController</key>
	<string>班级列表</string>
	<key>ZXPositionTeacherViewController</key>
	<string>教师列表</string>
	<key>ZXTeachersViewController</key>
	<string>组织架构</string>
	<key>ZXAddAnnouncementViewController</key>
	<string>发布公告</string>
	<key>ZXAddFoodViewController</key>
	<string>发布餐饮</string>
	<key>ZXAnnouncementDetailViewController</key>
	<string>公告详情</string>
	<key>ZXAnnouncementViewController</key>
	<string>公告列表</string>
	<key>ZXFoodClassImageViewController</key>
	<string>餐饮图片</string>
	<key>ZXFoodImagePickerViewController</key>
	<string>餐饮发图</string>
	<key>ZXFoodListViewController</key>
	<string>每日餐饮</string>
	<key>ZXReadAnnouncementViewController</key>
	<string>公告阅读</string>
	<key>ZXChangeIdentyViewController</key>
	<string>切换身份</string>
	<key>ZXChangeSchoolViewController</key>
	<string>切换学校</string>
	<key>ZXCityViewController</key>
	<string>城市</string>
	<key>ZXCustomSelectViewController</key>
	<string>通用选择</string>
	<key>ZXJoinChooseIdenty</key>
	<string>加入学校选择身份</string>
	<key>ZXJoinParentViewController</key>
	<string>家长加入学校</string>
	<key>ZXJoinTeacherViewController</key>
	<string>教师加入学校</string>
	<key>ZXProvinceViewController</key>
	<string>省份</string>
	<key>ZXSchoolInfoViewController</key>
	<string>学校信息</string>
	<key>ZXSearchSchoolViewController</key>
	<string>搜索学校</string>
	<key>ZXAddHomeworkViewController</key>
	<string>发布亲子任务</string>
	<key>ZXHomeworkDetailViewController</key>
	<string>亲子任务详情</string>
	<key>ZXHomeworkMessageViewController</key>
	<string>亲子任务消息</string>
	<key>ZXHomeworkReadViewController</key>
	<string>亲子任务阅读</string>
	<key>ZXHomeworkViewController</key>
	<string>亲子任务列表</string>
	<key>ZXCardDetailViewController</key>
	<string>ic卡详情</string>
	<key>ZXCardHistoryMenuViewController</key>
	<string>打卡记录菜单</string>
	<key>ZXClassHistoryViewController</key>
	<string>班级打卡记录</string>
	<key>ZXDayHistoryViewController</key>
	<string>每日打卡记录</string>
	<key>ZXMonthHistoryViewController</key>
	<string>每月打卡记录</string>
	<key>ZXMyCardViewController</key>
	<string>我的打卡记录</string>
	<key>ZXMyClassHistoryViewController</key>
	<string>我的班级打卡记录</string>
	<key>ZXParentHistoryViewController</key>
	<string>家长打卡记录</string>
	<key>ZXTeachersHistoryViewController</key>
	<string>教师打卡记录</string>
	<key>ZXAddDynamicViewController</key>
	<string>发布动态</string>
	<key>ZXAddMailViewController</key>
	<string>发布信箱</string>
	<key>ZXAddTeacherGracefulViewController</key>
	<string>添加教师风采</string>
	<key>ZXDynamicDetailViewController</key>
	<string>动态详情</string>
	<key>ZXMailBoxViewController</key>
	<string>校长信箱</string>
	<key>ZXPraiseListViewController</key>
	<string>赞的列表</string>
	<key>ZXRepostViewController</key>
	<string>转发</string>
	<key>ZXSchoolDetailViewController</key>
	<string>学校详情</string>
	<key>ZXSchoolMessageListViewController</key>
	<string>学校消息列表</string>
	<key>ZXSchoolSummaryViewController</key>
	<string>学校简介</string>
	<key>ZXTeacherGracefulDetailViewController</key>
	<string>教师风采详情</string>
	<key>ZXTeacherGracefulViewController</key>
	<string>教师风采</string>
	<key>ZXUserMailViewController</key>
	<string>个人信箱</string>
	<key>ZXSchoolMenuViewController</key>
	<string>主页</string>
	<key>ChatListViewController</key>
	<string>聊天消息列表</string>
	<key>ChatViewController</key>
	<string>聊天</string>
	<key>ZXContactsMenuViewController</key>
	<string>联系人</string>
	<key>ZXTeacherInfoViewController</key>
	<string>教师资料</string>
</dict>
</plist>
