<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>计算机/互联网/通信</string>
	<string>生产/工艺/制造</string>
	<string>商业/服务业/个体经营</string>
	<string>金融/银行/投资/保险</string>
	<string>文化/广告/传媒</string>
	<string>娱乐/艺术/表演</string>
	<string>医疗/护理/制药</string>
	<string>律师/法务</string>
	<string>教育/培训</string>
	<string>公务员/事业单位</string>
	<string>学生</string>
	<string>其他</string>
</array>
</plist>
